.container {
	width: 100%;
	max-width: 100%;
	background-color: white;
}

.navbar {
	margin-top: -20px;
}

.main-title {
	font-family: roboto;
	font-style: bold;
	text-align: center;
	margin-bottom: 20px;
}

.main-content .panel-title {
	text-align: center;
}

.main-content .floated_img
{
    float: left;
}

.main-content .instruction {
	position: absolute;
	left: 960px;
	width: 400px;
}

.main-content .panel-body {
	height: 560px
}

.main-content {
	margin: auto;
	position: absolute;
	left: 230px;
}

/*div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}

div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}

div.broken img,
div.missing img {
	border-width: 0px;
}

div.broken {
	display: none;
}*/

#unityPlayer {
	cursor: default;
	height: 600px;
	width: 975px;
	float:left;
}